.portfolio_container {
    max-width: 75rem;
    margin: auto;
    margin-left: 2rem;
    align-content: center;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem ;
    /* grid-template-columns: repeat(2,1fr); */
    
}

.portfolio_card {
    background: #606B99;
    padding: 1rem ;
    border-radius: 2rem;
    border-style: thick;
    /* box-shadow: 10px 10px 8px #2e385c; */
}

.portfolio_card img {
    border-radius: 2rem;
    overflow: hidden;
    max-height: 15rem;

}



.portfolio_card h3 {
    padding-top: 1%;
    font-size: 1.4rem;
    margin: .3rem;
    text-align: center;
}

.port-btn {
    text-align: center;
    margin: auto;
    color: #606B99;
    background-color: #fff;
    border-radius: 2rem;
    max-width: 7rem;
}

.port-btn a {
    color: #606B99;
}

.port-btn:hover {
    background-color: #54608f;
    color: #fff;
}

.port-btn a:hover {
    color: #fff;
}



.openWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.openWrapper .btClose {
    position: fixed;
    cursor: pointer;
    opacity: .6;
    color: #fff;
    z-index: 9999;
}

.openWrapper .btClose:hover {
    opacity: .1;
}

.openWrapper .btClose {
    top: 40px;
    width: 2rem;
    height: 2rem;
    right: 40px;
}

.fullScreenImage {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullScreenImg img {
    max-width: 100vw;
    max-height: 100vh;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.info {
    font: 1.7rem;
}


/*MEDIA QUEURIES */
@media screen and (max-width:1024px) {
    .ill {
        margin-top: 0vh;
        font-size: 10vh;
    }
    .info {
        font-size: 3vh;
        max-width: 90vh;
    }
    .portfolio_container {
        max-width: 50rem;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        align-content: center;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem ;
        /* grid-template-columns: repeat(2,1fr); */
        
    }
    .portfolio_card img {
        max-width: 15rem;
    }
    
    .portfolio_card h3 {
        padding-top: 1%;
        font-size: 1rem;
        margin: .3rem;
        text-align: center;
    }
    
    
    
}

/*SMALL QUEURIES */
@media screen and (max-width:600px) {
    .ill {
        margin-top: 2vh;
        font-size: 5vh;
    }
    .info {
        font-size: 1.7vh;
    }
    .portfolio_container {
        margin-top: 0rem;
        margin-bottom: 0rem;
        max-width: 50rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px ;
        /* grid-template-columns: repeat(2,1fr); */
        
    }
    .portfolio_card {
        margin-bottom: 1rem;
    }
    .portfolio_card img {
        max-width: 13rem;
    }
    
    .portfolio_card h3 {
        padding-top: 1%;
        font-size: 1rem;
        margin: .3rem;
        text-align: center;
        
    }
    
}