.project_container {
    max-width: 1300px;
    margin: auto;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
    
}

.project_card {
    max-height: 37rem;
    background: #606B99;
    justify-items: center;
    padding: 1.3rem 1rem;
    border-radius: 1.5rem;
    border-color: #fff;
    border-style: thick;
    
}

.project_card .item_image{
    width: 90%;
    
}

.project_card h3{
    padding-top: 1%;
    font-size: 2rem;
    text-align: center;
}



.project_card .next {
    
    margin-top: 1rem;
   width: 3rem;
   height: 3rem;
}

.project_card .prev {
   
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
 }

 .project_card .next:hover {
    

    opacity: .5;
    transform: scale(1.2);
}

.project_card .prev:hover {
    


    opacity: .5;
    transform: scale(1.2);
}

.item_image {
    margin: auto;
    padding: auto;
    border-radius: 1.5rem;
    overflow: hidden;
}

.item_image img{
    
    margin: auto;
    padding: auto;
    height: auto;
    width: 30rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.item_image video{
    margin: auto;
    padding: auto;
    height: auto;
    width: 30rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.ill {
    font-size: 4rem;
}

.info {
    font-size: 1.5rem;
}

.desc {
    font-size: 1rem;
    width: '45%'
}

/*Medium QUEURIES */
@media screen and (max-width:1024px) {
    .ill {
        margin-top: 2vh;
        font-size: 3rem;
    }
    .info {
        font-size: 1.5rem;
    }
    .desc {
        font-size: 1.1rem;
        width: 40rem;
    }
    .project_container {
        max-width: 40rem;
        display: grid;
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    .project_card img {
        max-width: 30rem;
    }
    .project_card video {
        max-width: 30rem;
    }

    /* .project_card .item_image{
       max-width: 20rem;
       max-height: 10rem;
        
    } */
    
    .project_card h3{
        padding-top: 1%;
        font-size: 1.5rem;
        text-align: center;
    }
    
}

/*SMALL QUEURIES */
@media screen and (max-width:600px) {
    .ill {
        margin-top: 2vh;
        font-size: 2.5rem;
    }
    .info {
        font-size: 1rem;
    }
    .desc {
        font-size: .9rem;
        width: 20rem;
    }
    .project_container {
        max-width: 35rem;
        display: grid;
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    .project_card img {
        max-width: 20rem;
    }
    .project_card video {
        max-width: 20rem;
    }

    /* .project_card .item_image{
       max-width: 20rem;
       max-height: 10rem;
        
    } */
    
    .project_card h3{
        padding-top: 1%;
        font-size: 1.5rem;
        text-align: center;
    }
    
}