#landing {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #353e49;
}

.rain {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 1;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 1.5px;
  height: 40px;
  border-radius: 50px;
  opacity: 90%;
  background: rgba(181, 183, 193, 0.3);
  animation: fall 0.5s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(80vh);
  }
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 997;
  margin-top: -4rem;
}

.bg-layer {
  position: absolute;
  inset: 0;
  background-image: url(../../assets/cafe_test.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 2;
}


.land {
  position: relative;
  z-index: 3;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

.landingBtn {
  z-index: 999;
}

.boxLanding {
  width: fit-content;
  padding: 2rem;
  text-align: center;
  margin-right: 5rem;
}

/* MEDIA QUERIES  */
@media screen and (max-width:1024px) {
  .land {
    max-height: 70vh;
    align-items: center;
  }

  .boxLanding {
   width: 100vw;
    text-align: center;
    margin-right: auto;

  }
.scroll {
  display: none;
}


}

@media screen and (max-width:600px) {
  .land {
    max-height: 50vh;
    text-align: center;
    align-items: center;
  }

  .boxLanding {
    width: 100vw;
    text-align: center;
    margin-right: auto;

  }


  .boxLanding h2 {
    font-size: 3rem;
  }

  .boxLanding h3 {
    font-size: 1.1rem;
  }

  .bg-layer {
   left: -150px;
   top: 50px;
   
}
.scroll {
  display: none;
}
}