.git {
    background-image:  url(../../assets/github.svg);
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.linkd {
    background-image:  url(../../assets/linkd.svg);
    width: 3rem;
    height:3rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;

    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.email {
    background-image:  url(../../assets/email.svg);
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}
.socials {
    gap: 1.5rem;
    justify-content: flex-end !important;
    padding-right: 1rem;
}

.row {
    
}

/* media queries */
/*MEDIA QUEURIES */
@media screen and (max-width:1024px){
    .socials {
        justify-content: center !important;
    }
    .linkd {
        height: 2.5rem;
    }
    .email {
        height: 2.5rem;
    }
    .git {
        height: 2.5rem;
    }
}

/*SMALL QUEURIES */
@media screen and (max-width:600px){
    .socials {
        justify-content: center !important;
    }
    .linkd {
        height: 7vh;
    }
    .email {
        height: 7vh;
    }
    .git {
        height: 7vh;
    }
}