.git {
    background-image:  url(../../assets/github.png);
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.insta {
    background-image:  url(../../assets/insta.png);
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;

    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.linkd {
    background-image:  url(../../assets/linkd.png);
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;

    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.email {
    background-image:  url(../../assets/email.png);
    width: 4rem;
    height: 4rem;
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.about {
    background-image:  url(../../assets/about.png);
    width: 4rem;
    height: 4rem;

    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.art {
    width: 4rem;
    height: 4rem;
    background-image:  url(../../assets/art.png);
    background-size: contain;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .75rem ;
    cursor: pointer;
    transition: all 0ms ease-in;
}

.row {
    
}

/* media queries */
/*MEDIA QUEURIES */
@media screen and (max-width:1024px){
    
    .socials {
        margin-left: 0%;
        z-index: 900;
    }
    .art {
        height: 7vh;
        margin-left: 10%;
        z-index: 900;
    }
    .insta {
        height: 7vh;
        margin-left: 10%;
        z-index: 900;
    }
    .linkd {
        height: 7vh;
        margin-left: 10%;
        z-index: 900;
    }
    .email {
        height: 7vh;
        margin-left: 10%;
        z-index: 900;
    }
    .git {
        height: 7vh;
        margin-left: 10%;
        z-index: 900;
    }
}

/*SMALL QUEURIES */
@media screen and (max-width:600px){
    .socials {
        margin-left: 0%;
    }
    .art {
        height: 4vh;
        margin-left: 0%;
    }
    .insta {
        height: 4vh;
        margin-left: 0%;
    }
    .linkd {
        height: 4vh;
        margin-left: 0%;
    }
    .email {
        height: 4vh;
        margin-left: 0%;
    }
    .git {
        height: 4vh;
        margin-left: 0%;
    }
}