.scroll1 {
    background-image:  url(../../assets/scroll1.png);
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-color: #606B99;
    background-repeat: no-repeat;
    border: #606B99;
    background-position: center;
    padding: 1rem;
    position: fixed;
    right: 0%;
    top:30%;

    margin-right: 2%;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: thick;
    border-radius: 3rem;
}

.scroll2 {
    background-image:  url(../../assets/scroll2.png);
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-color: #606B99;
    
    border: #606B99;
    background-repeat: no-repeat;
    background-position: center;padding: 1rem;
    position: fixed;
    right: 0%;
    top:40%;
    margin-right: 2%;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: thick;
    border-radius: 3rem;
}

.scroll3 {
    background-image:  url(../../assets/scroll3.png);
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-color: #606B99;
    background-repeat: no-repeat;
    
    border: #606B99;
    background-position: center;padding: 1rem;
    position: fixed;
    right: 0%;
    top:50%;
    margin-right: 2%;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: thick;
    border-radius: 3rem;

}

.container {
    background-color: #606B99;
}

a:hover {
    border-color: var(--color-white);
}