


.item{ 

    background-color: #fff;

    padding: 1.3rem;

    border-radius: 2rem;

    border: 1px solid transparent;

}




.item:hover {

    background-color: #606B99;

    border-color: #606B99;

}




.itemImage {

    border-radius: 1.5rem;

    overflow: hidden;




}




.item h3 {

    margin: 1.2rem 0 2rem;




}




.boxPort {

    margin-top: 20%;

}


/*SMALL QUEURIES */
@media screen and (max-width:600px) {
    .land {
        max-height: 40vh
    }

    .boxPort {
        margin-top: 20vh;
        max-width: 40vh;

    }

    .boxPort h2 {
        padding-top: 3vh;
        font-size: 4.5vh;
        max-width: 35vh
    }

    .boxPort h3 {
        font-size: 2vh;
        max-width: 35vh;
    }

    .boxPort h1 {
        font-size: 2vh;
    }

    .moon {
        display: none;
    }

    .line {
        max-width: 33vh;
    }

    .cloud1Img {
        position: absolute;
        left: 0%;
        bottom: 50%;
    }

    .cloud2Img {
        bottom: 50%;
    }
}