.projectContainer {
    background-color: #EBE2E2;
    height: fit-content;
    width: 18rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: relative;
   

}


.overall .projectContainer {
    transition: transform .3s ease-in-out;
     
    cursor: pointer;
}

.overall .projectContainer:hover {
    transform: rotate(10deg);
}

.overall .projectContainer:hover .cupPhoto {
    transform: rotate(-10deg);
}

.overall .projectContainer.cupPhoto {
    transition: transform .3s ease-in-out;

}


.thumbailImg {

    height: 12rem;
    object-fit: cover;
    background-repeat: none;
}

.proj_title {
    color: #4E2D18;
    font-size: 1.2rem;
    font-family: 'Lato';
}

.type {
    color: #4E2D18;
    font-size: 1rem;
}

.projInfo {
    display: flex;
    flex-direction: column;
}

.projContent {

    display: flex;
    flex-direction: column;
}

.cupPhoto {

    position: absolute;

    object-fit: contain;
    height: 4rem;
    width: 4rem;
    bottom: -1.5rem;
    right: -1rem;
    overflow: hidden;

}