.aboutRow {
    display: flex;
    min-width: 85vw;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7rem;
}

.about {
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem !important;
    overflow: hidden;
    padding-bottom: 2rem;
}

.pfp {
    max-height: 25rem;
    margin-top: 2.5rem;
    margin-left: -10rem;
    z-index: 2;
    transition: transform 0.3s;
}

.image {
    max-height: 24rem;
    margin-top: 2.5rem;
    margin-left: -10rem;
    z-index: 1;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
    /* optional hover effect */
    z-index: 10;
    /* bring hovered image to front */
}

.pfp:hover {
    transform: scale(1.1);
    /* optional hover effect */
    z-index: 10;
    /* bring hovered image to front */
}

.images {
    display: flex;
    align-items: center;
}

.expTitle {
    font-size: 3rem;
    color: #E6D0B0;
    margin-bottom: 1rem;
}

.jobs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 0px !important;
}


/*MEDIA QUEURIES */
@media screen and (max-width:1024px) {
    .about {
        
        height: max-content;
    }
    .aboutRow {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10rem;
        width: 95vw;
    }

    .pfp {
        max-height: 25rem;
        margin-top: 1rem;
    }

    .image {
        display: none;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    .jobs {
        display: flex;
       flex-wrap: wrap;
        gap: 1rem;
        padding-left: 0px !important;
        margin: 0px !important;
    }


}


/*MEDIA QUEURIES */
@media screen and (max-width:1400px) {
    .about {
        
        height: max-content;
    }
    .aboutRow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10rem;
        width: 95vw;
    }


    .pfp {
        max-height: 25rem;
        margin-top: 1rem;
    }

    .image {
        display: none;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    .jobs {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0px !important;
        justify-content: flex-start;
    }

}

/*SMALL QUEURIES */
@media screen and (max-width:600px) {
    .about {
        margin-left: 2rem !important;
        height: max-content;
    }

    .aboutRow {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .pfp {
        max-height: 20rem;
        margin-top: .5rem;
        margin-left: 0rem;
    }

    .image {
        display: none;
    }

    .images {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }


    .jobs {
        display: flex;
        flex-direction: column;
         justify-content: flex-start;
        gap: 1rem;
        padding-left: 0px !important;
        margin: 0px !important;
    }
}