

.navbtntText {
    
    width: max-content;
    background-color: none;
    display: inline-block;
    color: var(--color-white);
    padding-top:1rem ;
    padding-bottom:1rem ;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    z-index: 4;
    margin-bottom: 1rem;
}

.navbtntText:hover {
    color: #4D6443;
}


.navbtnHome {
    width: max-content;
    background-image:  url(../../../src/assets/icon.svg);
    background-size: contain;
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem ;
    
    cursor: pointer;
    border: none;
    z-index: 4;
     margin-bottom: 1rem;
}


.navBG {
    background-image:  url(../../../src/assets/nav_bg.svg);
    background-size: contain;
    min-height: 10vh;
    padding-left: 1rem;
    position: fixed;
    min-width: 100%;
    z-index: 999;
    margin: 0px;
    margin-left: 0px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
  background-repeat: repeat-x;   /* repeat horizontally */
  background-size: auto 10vh;    /* scale height */
}

.active {
  color: #E6D0B0;
  font-weight: bold;
}


/*MEDIA QUEURIES */
@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-nd);
        
       
    }

    .navBG {
        height: 10vh;
         background-size: auto 10vh; 
    }

    .navbtntText {
        font-size: 1.3rem;
    }

    section {
        
    }
}

/*SMALL QUEURIES */
@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }
    .navBG {
        height: 10vh;
        background-size: auto 10vh; 
    }

    .navbtntText {
        font-size: 1.1rem;
    }

    section {
       
    }
}