
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --background-color: #112921;
    --color-white: #fff;
    --container-width-nd: 90%;
    --container-width-sm: 75%;



}

.portfolio {
    background-size: cover;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: var(--color-white);
    line-height: 1.7;

}

/* general styles */

.container {
    width: 100%;
    margin: 0 auto;
}


h1 {
    font-size: 1.7rem;
    font-weight: 300;
    font-family:'Playfair Display SC';
}

h2 {
    font-size: 6rem;
    font-weight: 700;
    font-family:'Playfair Display SC';
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family:'Lato';
}


h4 {
    font-size: 5rem;
    font-weight: 700;
    font-family:'Playfair Display';
}

h5 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family:'Lato';
}

h6 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family:'Lato';
}


.line {
    color: #fff;
    background: "#fff";
    border: "none";
}

section {
    margin-top: 8rem;
}

.text-light {
    color:  var(--color-white);
}

a {
   
    color: #fff;
}


a:hover {
    color: var(--color-white);
}



img {
    display: block;
    object-fit: cover;
}





/*MEDIA QUEURIES */
@media screen and (max-width:1200px){
    .container{
        width: var(--container-width-nd);
    }

    
}

/*SMALL QUEURIES */
@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
    }

}